* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

input,
textarea {
  height: 35px;
  border-radius: 10px;
  background: #d9d9d9;
  border: 2px solid #000;
}

section {
  border-width: 2px !important;
  border-color: #2e6331 !important;
  box-shadow: 1px 1px 15px #518c55;
  background-color: #f0eded !important;
}

input[type="submit"],
#transfer-btn {
  position: relative;
  font-size: 1em;
  width: 100px;
  left: 40%;
}

input[value="Delete"]:hover {
  background-color: red;
}

input[type="submit"]:hover {
  background-color: green;
}

input[value="Submit"]:hover {
  background-color: green;
}

.w {
  width: 500px;
  margin: 0 auto;
}

.mb-3 {
  margin-bottom: 15px;
}

.card {
  margin: 30px auto;
  padding: 15px;
  background: #fff;
  border-radius: 25px;
  border: 3px solid #000;
}

.card .w {
  background-color: white !important;
}

.card.active {
  display: block;
}

.card .tit {
  position: inherit;
  display: flex;
  margin-bottom: 5px;
  height: 50px;
}

.card .tit .back {
  width: 35px;
}

.card .tit h1 {
  position: absolute;
  text-align: center;
  width: 100%;
}

.list li {
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 15px;
  background: #e9e9e9;
  box-shadow: 0 0 2px #e9e9e9;
}

.list li h3 {
  font-size: 25px;
}

.list li span.is-owed {
  color: #59a54c;
}

.list li span.in-debt {
  color: red;
}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-list button {
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn1 {
  border-color: gold;
}

.btn1:hover {
  background-color: gold;
}

.btn2 {
  border-color: turquoise;
}

.btn2:hover {
  background-color: turquoise;
}

.btn3 {
  border-color: lightblue;
}

.btn3:hover {
  background-color: lightblue;
}

.transfer-list {
  margin: 0 auto;
  width: 450px;
}

.transfer-list li {
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.transfer-list li span,
.transfer-list li p {
  width: 150px;
  font-weight: 600;
  font-size: 20px;
}

.transfer-list li input[type="text"],
.transfer-list li input[type="number"] {
  position: relative;
  left: -42px;
  width: 215px;
}

.transfer-list li textarea {
  padding: 15px;
  width: 360px;
  min-height: 150px;
  box-sizing: border-box;
}

.history-list li {
  display: flex;
  align-items: center;
}

.history-list li input {
  margin-right: 15px;
}

.transfer-list li input[type="radio"] {
  position: relative;
  bottom: -4px;
  border: 0;
  height: 1.5em;
  width: 50px;
}

li.mb-3 .select-name {
  margin-bottom: 30px;
  position: relative;
  left: -60px;
  bottom: -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li.mb-3 .select-name label {
  font-size: larger;
}

ul {
  padding-left: 0;
}
