.whole-password{
    background-color: #666963;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
    color:white;
    height: 50px;
    margin-top: 15px;
    /* display: flex; */
    /* display: inline-block; */
  }

.whole-password:hover{
transform: translateY(-4px);
color: red;
}

.no-data-message{
    color: white;
}

