.no-data-message {
  color: white;
}

.create-button-div {
  margin-top: 25px;
}

.create-button-span {
  margin: auto;
}

.create-button {
  box-shadow: 0 10px 8px rgba(0 0 0 / 50%);
  transition: transform 0.5s ease;
}

.create-button:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.delete-button {
  margin-left: 10px;
  margin-top: 12px;
  height: 80px;
}

.edit-button {
  margin-left: 10px;
  margin-top: 12px;
  height: 80px;
}
