/*
 * Globals
 */

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}

#create-popup {
  height: 450px;
}

#edit-popup {
  height: 450px;
}

button {
  border-color: green;
}

button:hover {
  background-color: green;
  color: white;
}

#delete-1 {
  border-color: red;
}

#delete-1:hover {
  background-color: red;
  color: white;
}

#assign label {
  font-size: 20px;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255 255 255 / 50%);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255 255 255 / 25%);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.float-container {
  padding: 20px;
}

.chores-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chore-box {
  width: 25%;
  padding: 10px;
  border: 3px solid black;
  box-shadow: 5px black;
  border-radius: 30px;
  background-color: white;
  margin: 20px;
}

.chore-box:hover {
  cursor: pointer;
}

chore-card {
  width: 25%;
  padding: 10px;
  border: 3px solid black;
  box-shadow: 5px black;
  border-radius: 30px;
  background-color: white;
  margin: 20px;
  text-align: center;
}

chore-card:hover {
  cursor: pointer;
}

#add-chore {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

#add-chore:hover {
  background-color: lightgreen;
}

h2,
h3 {
  text-align: center;
}

#back {
  position: fixed;
  left: 10;
  top: 10;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 20px;
  box-shadow: 5px black;
}

.assignees-list {
  width: 100%;
  background-color: white;
}

.assignee-box-and-label {
  display: flex;
  float: left;
  width: 100%;
}

.assignee-box-and-label .assignee-checkbox {
  width: 30px;
}

.assignee-box-and-label label {
  font-size: 15px;
}

.date-button {
  text-decoration: none;
  color: black;
}

.date-button:hover {
  cursor: pointer;
}

#week-header-div {
  display: inline-block;
  inline-size: 350px;
  text-align: center;
}

#week-header {
  text-decoration: none;
  color: black;
}

/*
 * Image
.room-image {
  background-image: url("../../../assets/Dorm_Room.jpeg");
  filter: opacity(0.2);
  background-size: cover;
} */
