.background {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: 1.5;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.popup {
  background: #eee;
  width: 70%;
  max-width: 800px;
  z-index: 1;
  margin: 12% auto;
  overflow: auto;
  border: 3px black solid;
  border-radius: 10px;
  box-shadow: 0 3px black;
}

.background span {
  color: black;
  padding-top: 12px;
  cursor: pointer;
  padding-right: 15px;
  font-size: 30px;
}

.form-box {
  background: #eee;
  margin-top: 10px;
  height: 300px;
  padding: 0 20px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.close {
  padding: 5px;
  translate: 8px;
  width: fit-content;
}

#close-button {
  float: right;
  font-size: 30px;
}

#foot {
  padding: 5px 0;
  text-align: center;
  background: #5cd31b;
  color: white;
}

.background h2 {
  margin: 10px 0;
  color: black;
}

.background h3 {
  margin: 0 0;
  padding-top: 15px;
}
